.box {
    display: flex;
    flex-direction: column;
    background-color: var(--color-box-1);
    flex: 1;
    border-radius: 32px;
    padding: 32px;
    gap: 48px;
    justify-content: flex-start;
    color: var(--color-text);
    height: calc(100% - 64px);
    overflow: hidden;
    /* cursor: pointer; */
    /* transition: all 0.1s ease; */
}



