.box {
    display: flex;
    flex-direction: column;
    background-color: var(--c-box-1);
    border-radius: 32px;
    padding: 32px;
    gap: 48px;
    justify-content: flex-start;
    color: var(--c-text);
    height: calc(100% - 64px);
    overflow: hidden;
    flex: 1;
}



