button {
    background-color: var(--c-ulgy);
    color: var(--c-text);
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    width: fit-content;
    /* transition: all 0.2s ease-in-out; */
    cursor: pointer;
}

button:active {
    background-color: var(--c-pressed);
}