.header {
    position: fixed;
    background-color: var(--c-transparency);
    width: calc(100% - 128px);
    max-width: calc(1400px - 64px);
    padding: 16px 32px;
    border-radius: 32px;
    z-index: 99; 
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.btn-nav {
    display: flex;
    width: fit-content;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.btn-bg {
    background-color: var(--c-ulgy);
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transition: all 0.1s ease-in-out;
}

.btn-nav:hover {
    cursor: pointer;
    scale: 1.1;

    .btn-bg {
        width: 100%;
    }

}

.btn-container {
    align-items: center;
    display: flex;
    gap: 32px;
    width: fit-content;
}