.hero {
    position: relative;
}

.social-media {
    right: 0;
    bottom: 0;
    display: flex;
    gap: 8px;
    z-index: 2;
    position: absolute;
    padding: 32px;
}

.member-tag {
    position: absolute;
    bottom: 0;
    width: 360px;
    left: 0;
    margin-bottom: -56px;
    padding: 0px 24px;
}

