@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@font-face {
  font-family: 'Helvetica Now';
  src: url('./assets/font/HelveticaNowDisplay-CnBd.otf') format('opentype');
}

* {
  margin: unset;
}

html {
  font-size: calc(min(max(1vw, 13px), 16px));
}

body {
  margin: 0;
  background-color: var(--color-bg);
}

h1 {
  font-family: 'Helvetica Now', sans-serif;
  text-align: center;
  font-size: 10rem;
  font-style: normal;
  font-weight: 700;
  line-height: 88%;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Helvetica Now', sans-serif;
  font-size: 7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 92%;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  letter-spacing: -0.05rem;
}

h5 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -0.05rem;
  color: var(--color-text)
}




h4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  letter-spacing: -0.05rem;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  letter-spacing: -0.05rem;
}

:root {
  --color-primitives-gray-20: rgb(205, 205, 205);
  --color-primitives-gray-50: rgb(87, 87, 87);
  --color-primitives-gray-60: rgb(43, 43, 43);
  --color-primitives-gray-80: rgba(30, 30, 30, 1);
  --color-primitives-gray-90: rgba(21, 21, 21, 1);
  --color-primitives-grey-100: rgba(0, 0, 0, 1);
  --color-primitives-purple-100: rgba(250, 0, 255, 1);
  --color-primitives-purple-80: rgb(152, 7, 155);
  --color-primitives-white-100: rgba(255, 255, 255, 1);
  --color-box-1: var(--color-primitives-gray-90);
  --color-box-2: var(--color-product-text);
  --color-bg: var(--color-primitives-grey-100);
  --color-text: var(--color-primitives-white-100);
  --color-text-hl: var(--color-primitives-purple-100);
  --color-ulgy: var(--color-primitives-purple-100);
  --color-pressed: var(--color-primitives-purple-80);
}